**/.DS_Store
env
/build
exp
dist
qns.egg-info
qns/**/*.c
qns/**/*.so
qns/**/*.pyd
**/__pycache__
.vscode
.cspell
.pytest_cache
!docs
.idea
.eggs
docs/quasar_design_private/

private_experiments/
paper_results/
figure_scripts/
results/
notebooks/
*.ipynb_checkpoints/
